/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Global Styles */
body {
    background-color: #e5e5f7;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #ff8d0055, #ff8d00 );
}

.sfondo {
	background-image: url(image/sfondo.jpg)
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

/* Header */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-style: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action_btn:hover {
    transform: scale(1.05);
    color: #fff;
}

.action_btn:active {
    transform: scale(0.95);
}

/* Dropdown */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 400px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: center;
    color: rgb(226,135,67);
}

.dropdown_menu.open {
    height: 340px;
    z-index: 1;
}

.dropdown_menu li {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Hero */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    height: auto;
}

footer .navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .navbar .links {
    display: flex;
    gap: 2rem;
}

footer .navbar .links li {
    padding: 0;
}

/* Main */
main .card img {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

main {
    margin-bottom: 4rem; /* Add margin to create space for the footer */
}

main .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main .card {
    width: 300px;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}

.container-fluid {
    margin: 20px 2rem; /* Same margin as the navbar */
}

.card {
    width: 300px; /* Larghezza desiderata per le card */
    height: auto;
    max-width: 100%; /* Massima larghezza consentita per adattarsi al contenitore */
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: orange;
    --bs-btn-border-color: orange;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #orange;
    --bs-btn-hover-border-color: orange;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0b5ed7;
    --bs-btn-active-border-color: orange;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: orange;
    --bs-btn-disabled-border-color: orange;
}

footer .navbar .linksul {
    padding: 10px;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    main .card {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    footer .navbar .links li {
        padding: 10px;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

    main .card-container {
        justify-content: center;
    }

    .container-fluid {
        margin: 0;
    }

    footer .navbar .links li {
        padding: 10px;
    }
}
