@charset "ISO-8859-1";

@media (max-width: 480px) {
    .container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  
    .container_1,.container_2,.container_3 {
      width: 100%;
      text-align: center;
      font-size: 16px;
    }
  
    .text {
      max-width: 30ch;
      overflow-wrap: break-word;
      text-align: center;
      margin: 0 auto; /* Aggiungi questa riga per centrare il testo */
    }
  }
  

@media (min-width: 481px) and (max-width: 767px) {
    .container_3 {
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 5%;
    }
  
    .container_1,.container_2 {
      margin-left: 5%;
      font-size: 16px;
    }
  
    .text {
      max-width: 20ch;
      overflow-wrap: break-word;
    }
  }
  




@media (min-width: 768px) {

    .container_3 {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 5%;

    }

    .container_1,.container_2 {
        margin-left: 5%;
        font-size: 16px;
    }

    .text {
        max-width: 30ch;
        overflow-wrap: break-word;
      }

}


@media (min-width: 992px) {

    .container_1,.container_2 {
        margin-left: 10%;
        font-size: 16px;
    }

    .container_3 {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 10%;
    }

    .text {
        max-width: 40ch;
        overflow-wrap: break-word;
      }

    
}


@media (min-width: 1200px) {

    .container_1,.container_2 {
        margin-left: 20%;
        font-size: 16px;
    }

    .container_3 {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 20%;
    }

    .text {
        max-width: 55ch;
        overflow-wrap: break-word;
      }
}