body {
  background-image: url("/image/1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: white;
  text-decoration: none;
}

.box {
  background-color: rgba(51, 67, 10, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 800px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #fff;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  padding-top: 10px;
  border-radius: 10px;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
   color: black;
}

th {
  background-color: #f8f8f8;
  font-weight: bold;
  color: black;
}

tbody tr:nth-child(even) {
  background-color: #f8f8f8;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 21px;
  background-color: #8DA23C;
  font-weight: bold;
  border-radius: 10px;
}

a:hover {
  color: orange;
}
