body {
  background-image: url("/image/1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: white;
  text-decoration: none;
}

.box {
  background-color: rgba(51, 67, 10, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
  max-width: 800px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.row {
  margin-top: 20px;
}

#tableOne td {
	border-top: white solid 0.1px;
}

.table th,
.table td {
 
  color: white;
}

.controllo-admin {
    display: inline;
    justify-content: flex-end;
    align-items: center;
}

a {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 21px;
  background-color: #8DA23C;
  font-weight: bold;
  border-radius: 10px;
  margin: 10px;
}
a:hover{
	color:orange;
}

#seleziona {
	color: white;
	background-color: #8DA23C;
	border-radius: 10px;
	border-color: #8DA23C;
}

#seleziona:hover {
	color: orange;
}

@media (max-width: 768px) {
    .controllo-admin {
        display: flex;
        flex-direction: column;
    }
    
    .controllo-admin a{
    	width: 200px;
    	text-align: center
    }
}