*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family: 'open Sans',sans-serif !important;
}

body{
    height: 100vh !important;
    background-color: #000 !important;
    background: url('/image/campagna.jpg') no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}

li{
    list-style: none !important;
}

a{
    text-decoration: none !important;
    color: #fff !important;
    font-size: 1rem !important;
}

a:hover{
    color: orange !important;
}


/*header*/

header{
    position: relative !important;
    padding: 0 2rem !important;
}

.video-slide{
    z-index: 000 !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;

}

.navbar{
    width: 100% !important;
    height: 60px !important;
    max-width: 1200px !important;
    margin: 0 auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.navbar .logo a{
    font-style: 1.5rem !important;
    font-weight: bold !important;
}

.navbar .links{
    display: flex !important;
    gap: 2rem !important;
}

.navbar .toggle_btn{
    color: #fff !important;
    font-size: 1.5rem !important;
    cursor: pointer !important;
    display: none !important;
}

.action_btn{
    background-color: orange !important;
    color: #fff !important;
    padding: 0.5rem 1rem !important;
    border: none !important;
    outline: none !important;
    border-radius: 20px !important;
    font-size: 0.8rem !important;
    font-weight: bold !important;
    cursor: pointer !important;
    transition: scale 0.2s ease !important;
}

.action_btn:hover{
    scale: 1.05 !important;
    color: #fff !important;
}
.action_btn:active{
    scale: 0.95 !important;
}


/* dropDown */
.dropdown_menu{
    display: none !important;
    position: absolute !important;
    right: 2rem !important;
    top: 60px !important;
    height: 0 !important;
    width: 300px !important;
    background: rgba(255,255,255,0.1) !important;
    backdrop-filter: blur(15px) !important;
    border-radius: 10px !important;
    overflow: hidden !important;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
    text-align: center !important;
}

.dropdown_menu.open{
    height: 240px !important;
}

.dropdown_menu li{
    padding: 1rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.dropdown_menu .action_btn{
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
}

/* hero */

section#hero{
    height: calc(100vh - 60px) !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    color: #fff !important;
}

#hero h1{
    font-size: 3rem !important;
    margin-bottom: 1rem !important;   
}

/* Footer */
footer {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    background-color: #000 !important;
}

footer .navbar {
	width: 100% !important;
    height: 60px !important;
    max-width: 1200px !important;
    margin: 0 auto !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

footer .navbar .links {
    display: flex !important;
    gap: 2rem !important;
}

footer .navbar .links li {
    padding: 0 !important;
}

main .card img {
  max-width: 100% !important;
  height: auto !important;
}

/* Resposive */
@media(max-width:992px){
    .navbar .links,
    .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}

@media(max-width:576px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
}