
/* Global Styles */
body {
    height: 100vh;
    background-color: gainsboro;
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

ul {
	    padding-inline-start: 0;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: brown;;
}

/* Hero */


.sfondo-hero {
	background-image: url('https://www.tuscanypeople.com/wp-content/uploads/2020/07/castellare_agriturismo_in_toscana.jpg');
	height:40vh;
	background-position:50%;
	background-size: cover;
	background-repeat: no-repeat;
	
}

@media only screen and (max-width: 600px) {
  .sfondo-hero {
    height: 55vh;
  }
}
.tondo {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.63) 20%, rgba(0, 0, 0, 0.05) 90%);
	border-radius:4px;
}
/* Header */
header {
    position: relative;
    
}

.video-slide {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.53) 10%, rgba(0, 0, 0, 0) 80%);
    width: 100%;
    height: 60px;
    padding: 0 3rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-style: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: green; /* Cambiato colore a verde */
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action_btn:hover {
    transform: scale(1.05);
    color: brown;
}

.action_btn:active {
    transform: scale(0.95);
}

/* Dropdown */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: center;
}

.dropdown_menu.open {
    height: 340px;
    z-index: 1;
}

.dropdown_menu li {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Hero */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* Main */
main {
    padding-top: 60px;
}

main .card img {
    max-width: 100%;
    height: auto;
}

/* Footer */
.footer{
	background-color: #92817a;;
    padding: 70px 0;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #49111c;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #fff;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.container{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}


/* News Letter*/

.footer-col input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.footer-col button[type="submit"] {
  padding: 10px 20px;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.footer-col button[type="submit"]:hover {
  background-color: rgb(25, 95, 45);
}


/* Responsive */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
        display: none;
    }
    
    .dropdown_menu.open {
        display: block;
    }
    
    .footer-col{
    width: 50%;
    margin-bottom: 30px;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
    
    .footer-col{
    width: 100%;
	}
}

.login {
	color: #FFA500;
}

.selezionato {
	color: #FFA500;
}

#headerPopup{
  width:75%;
  margin:0 auto;
}

#headerPopup iframe{
  width:100%;
  margin:0 auto;
}


main {
    /* max-width: 80%; */
    padding-left: 15%;
    padding-right: 15%;
  }
  
.cont-dist{
	margin-bottom:15%;
}  

.image-wrapper {
  width: 2000px;
  height: auto;
  overflow: hidden;
}

img{
	border-radius: 10px;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.siena {
	color:#49111c;
	border:2px solid #49111c;
	transition: 0.3s
}

.siena:hover {
	color: white;
	scale: 1.02;
	background-color: #49111c;
	border:2px solid #49111c;
}

.bordeaux {
	color:#49111c;
}

.action_btn {
    background-color: #49111c; 
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid #49111c;
    transition:0.3s;
}

.action_btn:hover {
    scale: 1.05;
    color: white;
    background-color: rgb(0,0,0,0.0);
    border: 2px solid white;
}

  /* Media */
  @media (min-width: 800px) {
    .card-body {
      text-align: left;
    }
  
    .image-text-container {
      display: flex;
      align-items: center;
      padding-bottom:10%;
    }
  
    .image-text-container img {
      width: 200px; /* Larghezza desiderata per l'immagine */
      height: auto; /* Altezza automaticamente proporzionale */
      margin-right: 20px; /* Margine a destra dell'immagine */
    }
  
    .image-text-container .text-container {
      text-align: left; /* Allinea il testo a sinistra */
    }
  
    .image-text-container img {
      margin-right: 20px;
      width: 70%;
    }
    
    .services-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .services-section,
  .activities-section {
    width: 45%; /* Imposta la larghezza dei due div */
  }
  }
  
  @media (max-width: 800px) {
    .image-text-container img {
      width: 100%; /* Imposta la larghezza al 100% del contenitore */
      height: auto; /* Altezza automaticamente proporzionale */
      
    }
    
    .cont-dist{
      align-items:center;
    }
    
        .image-wrapper {
  width: 200px;
  height: 200px;
}
    
  }
  
  h2{
  color:orange;
  }
  
  .card {
  min-width: 200px;
  min-height: 500px;
}

#dx{
	float:right;
}
  
#small{
    max-width: 10%;
    height: auto;
}
  
