<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <link rel="stylesheet" th:href="@{css/catalogo.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <script th:src="contatti.js"></script>
  </head>

  <body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="#">Agriturismo</a>
            </div>
            <ul class="links">
                <li><a th:href="@{index}">Home</a></li>
                <li><a th:href="@{catalogo}">Prodotti</a></li>
                <li><a th:href="@{struttura-servizi}">Servizi</a></li>
                <li><a th:href="@{contatti}">Contatti</a></li>
            </ul>
            <a th:href="@{login}" class="action_btn">Login</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>


            <div class="dropdown_menu">
            	<ul>
                	<li><a th:href="@{index}">Home</a></li>
                	<li><a th:href="@{catalogo}">Prodotti</a></li>
                	<li><a th:href="@{struttura-servizi}">Servizi</a></li>
                	<li><a th:href="@{contatti}">Contatti</a></li>
                	<li><a th:href="@{login}" class="action_btn">Login</a></li>
                </ul>
            </div>
        </div>
    </header>
    
    
    
    <main>
          <section>
            <div th:each="p : ${prodotti}" class="card" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title" th:text="${p.descrizione}"></h5>
                <p class="card-text" th:text="${p.prezzo}"></p>
                <a th:href="@{dettaglio-prodotto(id=${p.id})}" class="btn btn-primary">Dettaglio</a>
              </div>
            </div>
          </section>
    </main>
    
    
    <footer >
        <div class="navbar">>
            <ul class="links">
                <li><a th:href="@{contatti}">Contatti</a></li>
                <li><a th:href="@{login-admin}">Area Riservata</a></li>
            </ul>
        </div>
    </footer>
    
    <script src="javaScript/index.js"></script>
  </body>
</html>