<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titolo</title>
    <link rel="stylesheet" th:href="@{css/contatti.css}">
    <script th:src="contatti.js"></script>
  </head>

  <body>
    <header>
      <div class="container_1">
        <h1>Catalogo</h1>
        <h2 th:if="${utente != null}" th:text="'Benvenuto ' + ${utente.username}"></h2>
        <h2 th:if="${utente == null}" th:text="'Benvenuto Gentile Visitatore'"></h2>
            <p><a th:href="@{struttura-servizi}"> La struttura (servizi)</a></p>
            <p><a th:href="@{contatti}">Contatti</a></p>
       		<p><a th:href="@{index}">Home</a></p>
      </div>
    </header>
    <main>
      <div class="container_2">
        <section>
          <h2>Catalogo</h2>
          <div th:each="p : ${prodotti}">
          	<p th:text="${p.descrizione}"></p>
          	<p th:text="${p.categoria}"></p>
          	<p th:text="${p.prezzo}"></p>
          	<a th:href="@{dettaglio-prodotto(prodotto=${p.id})}" th:text="'Scopri ' + ${p.descrizione}" th:value="@{p.id}"></a>
          	<br>
          </div>
        </section>
      </div>
    </main>
    <footer>
      <div class="container_3">
        <p>foto?</p>
        <div id="map"></div>
      </div>
    </footer>
  </body>
</html>