<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/dashboard-utenti.css}">
    <title>Document</title>
</head>
<body>
    <h1>Utenti</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="u : ${utenti}">
                <td th:text="${u.nome}"></td>
                <td th:text="${u.cognome}"></td>
                <td th:text="${u.username}"></td>
                <td th:text="${u.password}"></td>
            </tr>
        </tbody>
    </table>
    <p><a th:href="@{/dashboard-catalogo}">Catalogo</a></p>
    <p><a th:href="@{/dashboard-ordini}">Ordini</a></p>
    <p><a th:href="@{/dashboard-admin}">Admin</a></p>
    
</body>
</html>
