<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
        <div class="navbar">
            <div class="logo">
                <a href="#">Agriturismo</a>
            </div>
            <ul class="links">
                <li><a th:href="@{index}">Home</a></li>
                <li><a th:href="@{catalogo}">Prodotti</a></li>
                <li><a th:href="@{struttura-servizi}">Servizi</a></li>
                <li><a th:href="@{contatti}">Contatti</a></li>
            </ul>
            <a th:href="@{login}" class="action_btn">Login</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>


            <div class="dropdown_menu">
            	<ul>
                	<li><a th:href="@{index}">Home</a></li>
                	<li><a th:href="@{catalogo}">Prodotti</a></li>
                	<li><a th:href="@{struttura-servizi}">Servizi</a></li>
                	<li><a th:href="@{contatti}">Contatti</a></li>
                	<li><a th:href="@{login}" class="action_btn">Login</a></li>
                </ul>
            </div>
        </div>
    </header>
	

    <h1>Catalogo</h1>

    <form action="/aggiungi-prodotto" method="post">
        <input type="text" name="nome" placeholder="Nome prodotto" required>
        <input type="text" name="descrizione" placeholder="Descrizione prodotto" required>
        <input type="number" name="prezzo" placeholder="Prezzo prodotto" required>
        <button type="submit">Aggiungi prodotto</button>
    </form>
    
    <div class="product-grid">
        <div class="product-item">
            <img src="" alt="Prodotto 1">
            <h3>Prodotto 1</h3>
            <p>Descrizione del prodotto 1</p>
            <p>Prezzo: $10.00</p>
        </div>
        <div class="product-item">
            <img src="" alt="Prodotto 2">
            <h3>Prodotto 2</h3>
            <p>Descrizione del prodotto 2</p>
            <p>Prezzo: $20.00</p>
        </div>
    </div>
    <p><a th:href="@{/dashboard-admin}">Admin</a></p>
    <p><a th:href="@{/dashboard-ordini}">Ordini</a></p>
    <p><a th:href="@{/dashboard-utenti}">Utenti</a></p>
</body>

</html>