<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
        <div class="navbar">
            <div class="logo">
                <a href="#">Agriturismo</a>
            </div>
            <ul class="links">
                <li><a th:href="@{index}">Home</a></li>
                <li><a th:href="@{catalogo}">Prodotti</a></li>
                <li><a th:href="@{struttura-servizi}">Servizi</a></li>
                <li><a th:href="@{contatti}">Contatti</a></li>
            </ul>
            <a th:href="@{login}" class="action_btn">Login</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
			

            <div class="dropdown_menu">
            	<ul>
                	<li><a th:href="@{index}">Home</a></li>
                	<li><a th:href="@{catalogo}">Prodotti</a></li>
                	<li><a th:href="@{struttura-servizi}">Servizi</a></li>
                	<li><a th:href="@{contatti}">Contatti</a></li>
                	<li><a th:href="@{login}" class="action_btn">Login</a></li>
                </ul>
            </div>
        </div>
    </header>
	<div>
		<p><a th:href="@{/dashboard-admin}">Admin</a></p>
    	<p><a th:href="@{/dashboard-ordini}">Ordini</a></p>
    	<p><a th:href="@{/dashboard-utenti}">Utenti</a></p>
	</div>

    <h1>Catalogo</h1>
	<p th:if="${ok}" th:text="'Prodotto inserito con successo'"></p>
	<p th:if="${del}" th:text="'Prodotto eliminato con successo'"></p>
    <form method="post" th:object="${prodotto}">
        <input type="text" th:field="*{descrizione}" placeholder="Descrizione prodotto" required>
        <input type="text" th:field="*{categoria}" placeholder="Categoria prodotto" required>
        <input type="number" step= "any" th:field="*{prezzo}" placeholder="Prezzo prodotto" required>
        <button type="submit" th:text="${edit ? 'Modifica Prodotto' : 'Registra Prodotto'}"></button>
    </form>
    <br>
    <div class="product-grid">
        <div th:each="p : ${prodotti}" class="product-item">
            <img src="" alt="Prodotto">
            <h3 th:text="${p.descrizione}"></h3>
            <p th:text="${p.categoria}"></p>
            <p th:text="'Prezzo ' + ${p.prezzo} + ' Euro.'"></p>
            <a th:href="@{dashboard-catalogo(id=${p.id})}">
            	<button th:text="'Modifica ' + ${p.descrizione}" ></button>
            </a>
            <a th:href="@{dashboard-catalogo/elimina(id=${p.id})}">
            	<button th:text="'Elimina ' + ${p.descrizione}" ></button>
            </a>
        </div>
    </div>
</body>

</html>