<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Utenti</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefono</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">1</td>
                <td th:text="${user.nome}">Mario Rossi</td>
                <td th:text="${user.email}">esempiomail.com</td>
                <td th:text="${user.telefono}">1234567890</td>
            </tr>
        </tbody>
    </table>
    <p><a th:href="@{/dashboard-catalogo}">Catalogo</a></p>
    <p><a th:href="@{/dashboard-ordini}">Ordini</a></p>
    <p><a th:href="@{/dashboard-admin}">Admin</a></p>
    
</body>
</html>
