<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<link rel="stylesheet" id="picostrap-styles-css"
	href="https://cdn.livecanvas.com/media/css/library/bundle.css"
	media="all">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
	integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
	crossorigin="anonymous">
<link rel="stylesheet" th:href="@{css/index.css}">
</head>

<body>
	<main>
		<div class="sfondo-hero">
			<div class="navbar">
				<div class="logo">
					<a th:href="@{index}">Antico Casale Orgiaverde</a>
				</div>
				<ul class="links">
					<li><a th:href="@{index}" class="selezionato">Home</a></li>
					<li><a th:href="@{catalogo}">Prodotti</a></li>
					<li><a th:href="@{struttura-servizi}">Servizi</a></li>
					<li><a th:href="@{contatti}">Contatti</a></li>
					<li><a th:href="@{carrello}">Carrello</a></li>
				</ul>
				<a th:if="${loggato == false}" th:href="@{login}" class="action_btn">Login</a>
				<a th:if="${loggato}" th:href="@{logout}" class="action_btn">Logout</a>
				<div class="toggle_btn">
					<i class="fa-solid fa-bars"></i>
				</div>


				<div class="dropdown_menu">
					<ul>
						<li><a th:href="@{index}">Home</a></li>
						<li><a th:href="@{catalogo}">Prodotti</a></li>
						<li><a th:href="@{struttura-servizi}">Servizi</a></li>
						<li><a th:href="@{contatti}">Contatti</a></li>
						<li><a th:href="@{carrello}">Carrello</a></li>
						<li><a th:href="@{login}" th:if="${loggato == false}"
							class="login">Login</a> <a th:href="@{logout}" th:if="${loggato}"
							class="login">Logout</a></li>
					</ul>
				</div>
			</div>
			<!-- Hero -->
			<div class="container-fluid p-5 text-center bg-image ">
				<div class="row">
					<div class="mask">
						<div
							class="tondo d-flex justify-content-center align-items-center h-100 p-5">
							<div class="text-white">
								<h1 class="mb-3">Agriturismo Casale Orciaverde</h1>
								<h4 class="mb-3">Prodotti veri e autentici</h4>
								<a class="btn btn-outline-light btn-lg" th:href="@{catalogo}"
									role="button">Scopri i nostri prodotti</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Video -->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="text-center display-4 mt-5">Dove la poesia incontra
						la Natura</h1>
					<p class="text-center mt-4">
						<a th:href="@{struttura-servizi}" id="headerVideoLink"
							target="_blank" class="btn btn-outline-danger siena">Scopri
							la Struttura</a>
					</p>
					<div id="headerPopup"
						class="mfp-hide embed-responsive embed-responsive-21by9">
						<iframe class="embed-responsive-item" width="800" height="480"
							src="https://www.youtube.com/embed/g17fEbDki70" frameborder="0"
							allow="autoplay; encrypted-media" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
		<!-- Carousel -->

		<div class="container py-5">
			<div class="row mb-4 mb-lg-5">
				<div class="col-lg-9 mx-auto text-center">
					<div class="lc-block mb-4">
						<div editable="rich">
							<h1 class="display-2 fw-bold">Il frutto della nostra Terra</h1>
						</div>
					</div>
					<!-- /lc-block -->
					<!-- /lc-block -->


					<div class="lc-block mb-4">
						<div editable="rich">

							<p class="text-muted lead">L'autenticità del nostro
								territorio sulla tua tavola.&nbsp;</p>

						</div>
					</div>
					<div class="lc-block d-grid d-lg-block gap-2">
						<a class="btn btn-light bordeaux" href="#" role="button">Vivi la nostra
							passione</a> <a class="btn siena" href="#" role="button">Info
							e prenotazioni</a>
					</div>
					<!-- /lc-block -->
				</div>
				<!-- /col -->
			</div>

			<div class="row mb-4 ">
				<div class="col-xl-10 mx-auto text-center">
					<div id="carouselExampleInterval" class="carousel slide"
						data-bs-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active " data-bs-interval="5000">
								<img th:src="@{image/50-50-Avignonesi.jpg}"
									class="img-fluid mx-auto rounded-3" alt="...">
								<div class="carousel-caption d-none d-md-block tondo">
									<h5>50&50 Avignonesi</h5>
									<p>Profumato taglio San Giovese e Merlot della zona di
										Montepulciano.</p>
									<a class="btn btn-outline-light btn-lg" th:href="@{catalogo}"
									role="button">Scopri 50&50</a>
								</div>
							</div>
							<div class="carousel-item" data-bs-interval="5000">
								<img th:src="@{image/burrata-di-bufala.jpg}"
									class="img-fluid mx-auto rounded-3" alt="...">
								<div class="carousel-caption d-none d-md-block tondo">
									<h5>Burrata di Bufala La Maremmana</h5>
									<p>Ottimo latticino per accompagnare i vostri piatti
										preferiti, con 100% latte di bufala</p>
									<a class="btn btn-outline-light btn-lg" th:href="@{catalogo}"
									role="button">Scopri Burrata di Bufala</a>
								</div>
							</div>
							<div class="carousel-item" data-bs-interval="5000">
								<img th:src="@{image/1698-pietranova.jpg}"
									class="img-fluid mx-auto rounded-3" alt="...">
								<div class="carousel-caption d-none d-md-block tondo">
									<h5>1698 Bolgheri DOC Pietranova</h5>
									<p>Annata 2018, Perfetto da bere subito, migliora con il tempo fino a 15 anni.</p>
									<a class="btn btn-outline-light btn-lg" th:href="@{catalogo}"
									role="button">Scopri 1698 Bolgheri</a>
								</div>
							</div>
							<div class="carousel-item" data-bs-interval="5000">
								<img th:src="@{image/finocchiona.jpg}"
									class="img-fluid mx-auto rounded-3" alt="...">
								<div class="carousel-caption d-none d-md-block tondo">
									<h5>Finocchiona IGP Falorni</h5>
									<p>I profumi inconfondibili delle colline e dei borghi toscani, l’aroma di finocchio e il gusto vellutato rendono unica la Finocchiona IGP.</p>
									<a class="btn btn-outline-light btn-lg" th:href="@{catalogo}"
									role="button">Scopri finocchiona IGP</a>
								</div>
							</div>
							<div class="carousel-item" data-bs-interval="5000">
								<img th:src="@{image/pancetta-stagionata.jpg}"
									class="d-block w-90 mx-auto rounded-3" alt="...">
								<div class="carousel-caption d-none d-md-block tondo">
									<h5>Pancetta Stagionata di Colonnata</h5>
									<p>La Pancetta Colonnata Mafalda è ideale da gustare a fette al naturale, a cubetti o come prezioso ingrediente in cucina.</p>
									<a class="btn btn-outline-light btn-lg" th:href="@{catalogo}"
									role="button">Scopri Pancetta di Colonnata</a>
								</div>
							</div>
						</div>
						<button class="carousel-control-prev" type="button"
							data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button"
							data-bs-target="#carouselExampleInterval" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>


				</div>
				<!-- /col -->
			</div>
		</div>
	</main>


	<footer class="footer mt-4">
		<div class="container">
			<div class="row">
				<div class="footer-col">
					<h4>Link Utili</h4>
					<ul>
						<li><a th:href="@{contatti}">Contatti</a></li>
						<li><a th:href="@{login-admin}">Area Riservata</a></li>
					</ul>
				</div>


				<div class="footer-col">
					<h4>Info</h4>
					<ul>
						<li><img th:src="@{image/querciavalle.png}"
							alt="Logo agriturismo"></li>
						<li style="color:white">P.IVA: 1234567890</li>
						<li style="color:white">Mail: info@orgiaverde.it</li>
						<li style="color:white">Via Palio 69, Castiglion Fiorentino (AR) - 52043</li>
						<li style="color:white">&copy; 2023 Querciavalle. Tutti i diritti riservati.</li>
					</ul>
				</div>

				<div class="footer-col">
					<h4>Newsletter</h4>
					<ul>
						<li style="color:white"><p>Inserisci la tua mail per iscriverti alla
								Newsletter</p></li>
						<li><input type="text" name="EmailAdress"
							placeholder="Enter your email">
							<button class="btn mt-2" type="submit">Iscriviti</button></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
	<script src="javaScript/index.js"></script>
	<script src="javaScript/videoPopup.js"></script>
</body>
</html>


