<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
</head>

<body>
    
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="#">Agriturismo</a>
            </div>
            <ul class="links">
                <li><a th:href="@{index}">Home</a></li>
                <li><a th:href="@{catalogo}">Prodotti</a></li>
                <li><a th:href="@{struttura-servizi}">Servizi</a></li>
                <li><a th:href="@{contatti}">Contatti</a></li>
                <li><a th:href="@{carrello}">Carrello</a></li>
            </ul>
            <a th:if="${loggato == false}" th:href="@{login}" class="action_btn">Login</a>
	        <a th:if="${loggato}" th:href="@{logout}" class="action_btn">Logout</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>


            <div class="dropdown_menu">
            	<ul>
                	<li><a th:href="@{index}">Home</a></li>
                	<li><a th:href="@{catalogo}">Prodotti</a></li>
                	<li><a th:href="@{struttura-servizi}">Servizi</a></li>
                	<li><a th:href="@{contatti}">Contatti</a></li>
                	<li><a th:href="@{carrello}">Carrello</a></li>
                	<li><a th:href="@{login}">Login</a></li>
                </ul>
            </div>
        </div>
    </header>
    
    <main>
        <section id="hero">
            <h1>We are Nature</h1>
            <p>Prodotti di Campagna Veri e Autentici</p>
        </section>
    </main>
    
    
    <footer >
        <div class="navbar">
            <ul class="links">
                <li><a th:href="@{contatti}">Contatti</a></li>
                <li><a th:href="@{login-admin}">Area Riservata</a></li>
            </ul>
            <div class="info-agriturismo">
            <img th:src="@{image/querciavalle.png}" alt="Logo agriturismo">
            <p>P.IVA: 1234567890</p>
            <p>&copy; 2023 Querciavalle. Tutti i diritti riservati.</p>
        </div>
        </div>
    </footer>
    <script src="javaScript/index.js"></script>
</body>
</html>


