<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration Form</title>
    <link rel="stylesheet" th:href="@{css/login.css}">
</head>
<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Login</button>
                <button type="button" class="toggle-btn" onclick="register()">Register</button>
            </div>
            <p th:if="${loginError}">Errore: credenziali errate</p>
            <p th:if="${credError}">Registrazione fallita, verificare le credenziali<p>
            <p th:if="${reg}">Registrazione completata. Effettua il Login</p>
            
            <form method="post" action="/login/accedi" id="login"class="input-group">
                <input type="email" name="username" class="input-field" placeholder="Email" required>
                <input type="password" name="password" class="input-field" placeholder="Password" required>
                <button type="submit" class="submit-btn">Login</button>
                
                <a class="indietro" th:href="@{index}">Torna alla Home</a>
            </form>
            <form th:object="${utente}" method="post" id="register" class="input-group">
                <input type="text" th:field="*{nome}" class="input-field" placeholder="Inserisci il nome" required>
                <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
                
                <input type="text" th:field="*{cognome}" class="input-field" placeholder="Inserisci il cognome" required>
                <p th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></p>
                
                <input type="email" th:field="*{username}" class="input-field" placeholder="Inserisci la mail" required>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                
                <input type="password" th:field="*{password}" class="input-field" placeholder="Password" required>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                
                <button type="submit" class="submit-btn">Registrati</button>
                
                <a class="indietro" th:href="@{index}">Torna alla Home</a>
            </form>
        </div>
    </div>
    <script src="javaScript/login.js"></script>

</body>
</html>