<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration Form</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Login</button>
                <button type="button" class="toggle-btn" onclick="register()">Register</button>
            </div>
            <p>Errore: credenziali errate</p>
            <form id="login"class="input-group">
                <input type="text" class="input-field" placeholder="Username" required>
                <input type="password" class="input-field" placeholder="Password" required>
                <input type="checkbox" class="check-box"> <span>Remember me</span>
                <button type="submit" class="submit-btn">Login</button>
            </form>
            <form id="register" class="input-group">
                <input type="text" class="input-field" placeholder="Inserisci il nome" required>
                <input type="text" class="input-field" placeholder="Inserisci il cognome" required>
                <input type="text" class="input-field" placeholder="Inserisci l'Username" required>
                <input type="email" class="input-field" placeholder="Inserisci l'Email" required>
                <input type="password" class="input-field" placeholder="Password" required>
                <button type="submit" class="submit-btn">Registrati</button>
            </form>
        </div>
    </div>
    <script src="login.js"></script>

</body>
</html>