<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titolo</title>
    <link rel="stylesheet" th:href="@{css/contatti.css}">
  </head>

  <body>
      <header>
        <div class="navbar">
            <div class="logo">
                <a href="#">Agriturismo</a>
            </div>
            <ul class="links">
                <li><a th:href="@{index}">Home</a></li>
                <li><a th:href="@{catalogo}">Prodotti</a></li>
                <li><a th:href="@{struttura-servizi}">Servizi</a></li>
                <li><a th:href="@{contatti}">Contatti</a></li>
                <li><a th:href="@{carrello}">Carrello</a></li>
            </ul>
            <a th:href="@{login}" class="action_btn">Login</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>


            <div class="dropdown_menu">
            	<ul>
                	<li><a th:href="@{index}">Home</a></li>
                	<li><a th:href="@{catalogo}">Prodotti</a></li>
                	<li><a th:href="@{struttura-servizi}">Servizi</a></li>
                	<li><a th:href="@{contatti}">Contatti</a></li>
                	<li><a th:href="@{carrello}">Carrello</a></li>
                	<li><a th:href="@{login}">Login</a></li>
                </ul>
            </div>
        </div>
    </header>
    
    <main>
  		<section>
    		<h2>Benvenuti</h2>
    			<p>Qui potete trovare tutte le informazioni sulle nostre attività.</p>
  		</section>
 		<section>
    		<h2>Cosa offriamo</h2>
    		<ul>
      			<li><a href="#">Prodotti locali</a></li>
      			<li><a href="#">Escursioni</a></li>
      			<li><a href="#">Alloggio</a></li>
      			<li><a href="#">Eventi speciali</a></li>
    		</ul>
  		</section>
   </main>
    
    
    <footer >
        <div class="navbar">>
            <ul class="links">
                <li><a th:href="@{contatti}">Contatti</a></li>
                <li><a th:href="@{loginAdmin}">Area Riservata</a></li>
            </ul>
        </div>
    </footer>
  </body>
</html>