<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Titolo</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
<link rel="stylesheet" id="picostrap-styles-css"
	href="https://cdn.livecanvas.com/media/css/library/bundle.css"
	media="all">
<link rel="stylesheet" th:href="@{css/struttura-servizi.css}">
</head>

<body>
	<div class="sfondo-hero">

		<div class="navbar">
			<div class="logo">
				<a th:href="@{index}">Antico Casale Orciaverde</a>
			</div>
			<ul class="links">
				<li><a th:href="@{index}">Home</a></li>
				<li><a th:href="@{catalogo}">Prodotti</a></li>
				<li><a th:href="@{struttura-servizi}" class="selezionato">Servizi</a></li>
				<li><a th:href="@{contatti}">Contatti</a></li>
				<li><a th:href="@{carrello}">Carrello</a></li>
			</ul>
			<a th:if="${loggato == false}" th:href="@{login}" class="action_btn">Login</a>
			<a th:if="${loggato}" th:href="@{logout}" class="action_btn">Logout</a>
			<div class="toggle_btn">
				<i class="fa-solid fa-bars"></i>
			</div>


			<div class="dropdown_menu">
				<ul>
					<li><a th:href="@{index}">Home</a></li>
					<li><a th:href="@{catalogo}">Prodotti</a></li>
					<li><a th:href="@{struttura-servizi}">Servizi</a></li>
					<li><a th:href="@{contatti}">Contatti</a></li>
					<li><a th:href="@{carrello}">Carrello</a></li>
					<li><a th:href="@{login}" th:if="${loggato == false}"
						class="login bordeaux">Login</a> <a th:href="@{logout}" th:if="${loggato}"
						class="login">Logout</a></li>
				</ul>
			</div>
		</div>


		<div class="container-fluid p-5 text-center bg-image">
			<div class="row">
				<div class="mask">
					<div
						class="tondo d-flex justify-content-center align-items-center h-100 p-5">
						<div class="text-white">
							<h1 class="mb-3">Antico Casale Orciaverde</h1>
							<h4 class="mb-3">Immergiti nella bellezza della nostra Terra</h4>
							<a class="btn btn-outline-light btn-lg" th:href="@{contatti}"
								role="button">Info e Prenotazioni</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<main>
	
	<div class="services-wrapper">
  <div class="services-section">
    <h2>Servizi</h2>
    <p>L'<b>Orciaverde</b>, mette a disposizione dei propri ospiti, servizi in grado di soddisfare le esigenze di qualsiasi clientela.</p>
    <ul>
      <li>-Wi-Fi free</li>
      <li>-Servizio transfert (su richiesta a pagamento)</li>
      <li>-Lavanderia a pagamento</li>
      <li>-Baby Sitter (su richiesta e salva disponibilità - a pagamento)</li>
      <li>-Escursioni in barca, a terra, diving e a cavallo (su richiesta pagamento)</li>
      <li>-Noleggio auto (richiedibile anche all'atto della prenotazione e salvo disponibilità - su richiesta a pagamento)</li>
      <li>-Vasca idromassaggio (con supplemento in loco)</li>
    </ul>
  </div>

  <div class="activities-section">
    <h2>Attività</h2>
    <ul>
      <li>-Parco giochi</li>
      <li>-Piscina</li>
      <li>-Solarium</li>
      <li>-Escursioni in barca, a terra, diving e a cavallo (su richiesta pagamento)</li>
    </ul>
  </div>
</div>
	
<div>
<h2>LAST MINUTE LUGLIO</h2>
<p>L'<b>Orciaverde</b> offre uno sconto speciale dal 5 al 18 luglio .</p>

		<div class="image-text-container">
			<div class="image-wrapper">
				<img th:src="@{image/cav2.jpeg}" alt="image">
			</div>
			<div class="text-container">
				<p>Benvenuti alla lezione di equitazione di oggi! Oggi
					esploreremo il meraviglioso mondo dell'equitazione, imparando le
					basi fondamentali e sviluppando una connessione armoniosa con i
					nostri amici cavalli.</p>
				
			</div>
		</div>

		<div class="image-text-container">
			<div class="image-wrapper">
				<img th:src="@{image/escursione.jpg}" alt="image">
			</div>
			<div class="text-container">
				<p>Puoi partecipare a escursioni a piedi, in bicicletta o a
					cavallo, esplorando sentieri panoramici e paesaggi mozzafiato.
					Potresti anche avere l'opportunità di fare passeggiate nella
					natura.</p>
					<a th:href="@{login}" class="btn btn-outline-light btn-lg" id="dx">Prenota</a>
			</div>
		</div>
</div>


<div>
<h2>Offerte simili</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img th:src="@{image/camere1.jpeg}" class="card-img-top" alt="Card Image">
        <div class="card-body">
          <h5 class="card-title">Suit</h5>
          <p class="card-text"></p>
          <ul class="card-txet">
          <li>- Frigo-bar</li>
          <li>- Climatizzazione</li>
          <li>- Bagno con Box doccia</li>
          <li>- Patio attrezzato</li>
          </ul>
          <a th:href="@{login}" class="btn btn-primary"  id="dx">Richiedi preventivo</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img th:src="@{image/camere2.jpeg}" class="card-img-top" alt="Card Image">
        <div class="card-body">
          <h5 class="card-title">Suit-matrimoniale</h5>
          <p class="card-text"></p>
          <ul class="card-txet">
          <li>- Frigo-bar</li>
          <li>- Climatizzazione</li>
          <li>- Bagno con Box doccia</li>
          <li>- Patio attrezzato</li>
          <li>- Babysitting incluso</li>
          <li>- Ingresso libero in piscina</li>
          </ul>
          <a th:href="@{login}" class="btn btn-primary"  id="dx">Richiedi preventivo</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="card">
        <img th:src="@{image/camere3.jpeg}" class="card-img-top" alt="Card Image">
        <div class="card-body">
          <h5 class="card-title">Deluxe</h5>
          <p class="card-text"></p>
          <ul class="card-txet">
          <li>- Frigo-bar</li>
          <li>- Climatizzazione</li>
          <li>- Bagno con Box doccia</li>
          <li>- Patio attrezzato</li>
          <li>- Babysitting incluso</li>
          <li>- Ingresso libero in piscina</li>
          <li>- Open bar</li>
          <li>- -50% sulla seconda settimana</li>
          </ul>
          <a th:href="@{login}" class="btn btn-primary" id="dx">Richiedi preventivo</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

	</main>

	<footer class="footer mt-4">
		<div class="container">
			<div class="row">
				<div class="footer-col px-5">
					<h4>Nav</h4>
					<ul>
						<li><a th:href="@{contatti}">Contattaci</a></li>
						<li><a th:href="@{struttura-servizi}">La Struttura</a></li>
						<li><a th:href="@{catalogo}">I Prodotti</a></li>
						<li><a th:href="@{login-admin}">Area Riservata</a></li>
					</ul>
				</div>
				<div class="footer-col  px-5">
					<h4>Info</h4>
					<ul>
						<li></li>
						<li style="color: white">P.IVA: 1234567890</li>
						<li style="color: white">Mail: info@orgiaverde.it</li>
						<li style="color: white">Via Palio 69, Castiglion Fiorentino
							(AR) - 52043</li>
					</ul>
				</div>

				<div class="footer-col  px-5">
					<h4>Newsletter</h4>
					<ul>
						<li style="color: white"><p>Iscriviti alla newsletter per accedere a imperdibili offerte</p></li>
						<li><input type="text" name="EmailAdress"
							placeholder="La tua email">
							<button class="btn mt-2" type="submit">Iscriviti</button></li>
					</ul>
				</div>
				<div class="footer-col px-5">
					<h4>follow us</h4>
					<div class="social-links">
						<a href="#"><i class="fab fa-facebook-f grandi"></i></a> <a
							href="#"><i class="fab fa-twitter grandi"></i></a> <a href="#"><i
							class="fab fa-instagram grandi"></i></a> <a href="#"><i
							class="fab fa-linkedin-in grandi"></i></a>
					</div>
				</div>

				<div class="d-flex justify-content-center align-items-center flex-column mt-6" style="color: white">
					<img th:src="@{image/orciaverde.png}" alt="Logo agriturismo"
						class="loghetto py-2"> &copy; 2023 Orciaverde. Tutti i diritti
					riservati.
				</div>
			</div>
		</div>
	</footer>
	
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
	<script src="javaScript/index.js"></script>
</body>
</html>