<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titolo</title>
    <link rel="stylesheet" th:href="@{css/contatti.css}">
  </head>

  <body>
    <header>
      <div class="container_1">
        <h1>StrutturaServizi</h1>
            <p><a th:href="@{contatti}">Contatti</a></p>
            <p><a th:href="@{catalogo}">Catalogo</a></p>
            <p><a th:href="@{dettaglio-prodotto}">Dettagli prodotto</a></p>
      </div>
    </header>
    <main>
      <div class="container_2">
        <section>
          <h2>Benvenuti</h2>
          <p>Qui potete trovare tutte le informazioni sulle nostre attività.</p>
        </section>
        <section>
          <h2>Cosa offriamo</h2>
          <ul>
            <li><a href="#">Prodotti locali</a></li>
            <li><a href="#">Escursioni </a></li>
            <li><a href="#">Alloggio</a></li>
            <li><a href="#">Eventi speciali</a></li>
          </ul>
        </section>
      </div>
    </main>
    <footer>
      <div class="container_3">
        <p></p>
      </div>
    </footer>
  </body>
</html>